
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider {
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
}

.slider-images {
    display: flex;
    width: 400px;
    height: 600px;
    transition: transform 0.5s ease;
}

.slider-images img {
    min-width: 400px;
    min-height: 600px;
    max-height: 600px;
    max-width: 400px;
    object-fit: contain;
}




button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btnPrev {
    left: 10px;
}

.btnNext {
    right: 10px;
}

.contador {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}