/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
Los formatos posibles son: ttf: truetype, otf: opentype, woff: woff, woff2: woff2 */


@font-face {
    font-family: "Mi super fuente"; /* Nombre de fuente personalizado por mi*/
    src: url("../fonts/Crotahfreeversion-Italic.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.u-txtCrotah {
    font-family: "Crotah";
}

.Body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 2;
}

.Main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

