* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 100px);
     grid-template-areas: 
            "sector1 sector1 sector1";
}

header {
    grid-area: sector1;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(164, 163, 161);
}

h2 {
    margin-left: 20px;
}

.header__button {
    background-color: white;
    border: 2px solid black;
    margin: 20px;
}